# Dependencies
/node_modules
/client/node_modules  # Mengabaikan node_modules di dalam client
/server/node_modules  # Mengabaikan node_modules di dalam server

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build output
/dist
/build
/out

# Environment variables and config files
.env
/client/.env  # Mengabaikan file .env di client
/server/.env  # Mengabaikan file .env di server

# Local development files and artifacts
.DS_Store
*.log

# Client-specific files (e.g., Vite/React cache)
/client/.vite
/client/dist
/client/.netlify

# Server-specific files (e.g., common for Node.js/Express)
/server/dist

# Editor/IDE specific files (VS Code)
.vscode/

# Package files
package-lock.json
/client/package-lock.json
/server/package-lock.json
